.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-container .nav-bar {
    display: flex;
    list-style-type: none;
}

.header-container li {
    margin-right: 20px;
}